{% extends 'vizzy/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1>Create New Dataset</h1>

<form action="{% url 'vizzy:create' %}" method='post' enctype="multipart/form-data">
         {% csrf_token %}
         {% bootstrap_form form %}
         {% bootstrap_button button_type="submit" content="Create Dataset" %}
      </form>

      {% if errors %}
      <ul>
          {% for field, error_list in errors.items %}
              {% for error in error_list %}
                  <li>{{ field }}: {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  {% endif %}

{% endblock content %}